*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    background-color: #f4f4f4;
}

h1,h2,h3, .logo{
    font-family: 'Bangers', sans-serif;
    font-weight: 700; 
    color: #222;
}

a{
    text-decoration: none;
     color: #d62828;
}

