*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* --- Fuentes -- */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    background-color: #f4f4f4;
}

h1,h2,h3 {
    font-family: 'Bangers', sans-serif;
    font-weight: 700; 
    color: #222;
}

.logo{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: #F5C518;
}

a{
    text-decoration: none;
     color: #d62828;
}

/* --- Estructura y centrado -- */
.container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* --- ENCABEZADO Y NAVEGACIÓN --- */
.site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    padding: 1rem 0;
    background-color: #1b1b1b;
    border-bottom: 2px solid #f77f00;
}

.logo{
    font-size: 2.5rem;
}
.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav a {
    font-weight: 700;
}


/* --- Hero --- */

#hero{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_SouthParkTheFracturedButWhole_enGB.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 230px 0;
    text-align: center;
}

#hero h1{
color: white;
font-size: 3.5rem;
text-shadow: 2px 2px 8px #1B2A49; /* --- Le da sombra al texto --- */
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


/* --- Botón --- */

.btn {
    background-color: #F5C518;
    color: #000000;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    display: inline-block;
}

.btn:hover { /* --- Oscurece el botón cuando se le pasa el mouse encima--- */
background-color: #cca414;
}

/* SECCIONES */


/* Historia (inicial) */
#historia {
    padding: 40px 0;
    text-align: center;
    background-color: #000000;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    color: #d62828;

}

#historia p { 
    color: #f4f4f4;
}

#historia img{
    width: 500px;
    height: auto;
     border-radius: 500px;
    margin-top: 25px;
}


/* Contenido */

#menu {
    padding: 80px 0;
    text-align: center;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("https://i.ytimg.com/vi/7USbzKyuX_8/maxresdefault.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu h2{
    text-align: center;
    color: #f4f4f4;
}

#menu p,h3{
    color: #f4f4f4;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: left;
    margin-top: 0px;
}

.menu-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.menu-item{/* Centra el texto */
    text-align: center;
}

a {
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color:#fe3131;
}

.btn:hover {
    background-color: #65330e;
    transition: background-color 0.3s ease;
}